{
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react",
    "^react-router",
    "^@tanstack/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/services/(.*)$",
    "^@/stores/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/validators/(.*)$",
    "^@/lib/(.*)$",
    "^@/types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
